:host {
  --sprite-width: 4100px;
  --sprite-height: 1050px;
  --scaled-background-height: calc(var(--sprite-height) * var(--pilatch-card-scale));
  --scaled-background-width: calc(var(--sprite-width) * var(--pilatch-card-scale));
  --negative-scaled-background-width: calc(-1 * var(--scaled-background-width));
  --negative-scaled-card-height: calc(-1 * var(--scaled-card-height));
}
#container {
  position: relative;
  height: var(--scaled-card-height);
  width: var(--scaled-card-width);
  /* entire container, keeps perspective */
  perspective: 1000px;
}
:host([binary]) #container {
  /* Binary cards are presented rotate ninety degrees, so width and height are swapped. */
  height: var(--scaled-card-width);
  width: var(--scaled-card-height);
}
:host([binary]) #front {
  background-position-x: calc(var(--negative-scaled-background-width) + var(--scaled-card-height));
  background-position-y: var(--negative-scaled-card-height);
}
:host([binary]) #back {
  background-position-x: calc(var(--negative-scaled-background-width) + var(--scaled-card-height));
  background-position-y: calc(var(--negative-scaled-card-height) - var(--scaled-card-width));
}
:host([nothing]) #container {
  border: calc(2px * var(--pilatch-card-scale)) dashed gray;
  border-radius: calc(6px * var(--pilatch-card-scale));
}
:host([nothing]) #front, :host([nothing]) #back {
  background: none;
}
:host([clickable]) {
  cursor: pointer;
}
:host(:not([up])[known]) #front {
  backface-visibility: visible;
}
:host(:not([up])[known]) #back {
  opacity: 0.5;
}
#front, #back {
  backface-visibility: hidden;
  background-image: url(../img/sprite.png);
  background-size: calc(var(--sprite-width) * var(--pilatch-card-scale)) calc(var(--sprite-height) * var(--pilatch-card-scale));
  position: absolute;
  height: 100%;
  width: 100%;
}
:host(:not([no-transition])) #front,
:host(:not([no-transition])) #back {
  /* flip speed goes here */
  transition: transform var(--pilatch-card-flip-duration, 0.6s);
}
#back {
  background-position-x: calc(var(--negative-scaled-background-width) + var(--scaled-card-height));
  /* for firefox 31 */
  transform: rotateY(0deg);
  z-index: 2;
}
#front {
  /* initially hidden pane */
  transform: rotateY(-180deg);
}

:host([suit='rock']) #front {background-position-y: var(--negative-scaled-card-height);}
:host([suit='scissors']) #front {background-position-y: calc(2 * var(--negative-scaled-card-height));}

:host([rank='2']) #front {background-position-x: calc(-1 * var(--scaled-card-width));}
:host([rank='3']) #front {background-position-x: calc(-2 * var(--scaled-card-width));}
:host([rank='4']) #front {background-position-x: calc(-3 * var(--scaled-card-width));}
:host([rank='5']) #front {background-position-x: calc(-4 * var(--scaled-card-width));}
:host([rank='6']) #front {background-position-x: calc(-5 * var(--scaled-card-width));}
:host([rank='7']) #front {background-position-x: calc(-6 * var(--scaled-card-width));}
:host([rank='8']) #front {background-position-x: calc(-7 * var(--scaled-card-width));}
:host([rank='9']) #front {background-position-x: calc(-8 * var(--scaled-card-width));}
:host([rank='10']) #front {background-position-x: calc(-9 * var(--scaled-card-width));}
:host([rank='11']) #front {background-position-x: calc(-10 * var(--scaled-card-width));}
:host([rank='12']) #front {background-position-x: calc(-11 * var(--scaled-card-width));}
:host([rank='13']) #front {background-position-x: calc(-12 * var(--scaled-card-width));}
:host([rank='14']) #front {background-position-x: calc(-13 * var(--scaled-card-width));}
:host([rank='15']) #front {background-position-x: calc(-14 * var(--scaled-card-width));}

:host([up]) #back {
  transform: rotateY(180deg);
}
:host([up]) #front {
  transform: rotateY(0deg);
}
